# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.next
/out

.env*

npm-debug.log*

# Database
prisma/dev.db
prisma/dev.db-journal

# SQLite
prisma/*.db
prisma/*.db-journal

# Environment
.env
.env.local
.env.production

# Upload files
public/uploads/